<!DOCTYPE html>
<html>

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>{{ user.nickname | default('Anonymity') }} Dashboard</title>
  <meta name="keywords" content="Bootstrap 3 Admin Dashboard Template Theme" />
  <meta name="description" content="AdminDesigns - Bootstrap 3 Admin Dashboard Theme">
  <meta name="author" content="AdminDesigns">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <!-- <link rel='stylesheet' type='text/css' href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700'>-->
  {% block plugins_css %}{% endblock %}
  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="{{ asset('assetbundle/skin/default_skin/css/theme.css') }}">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="{{ asset('assetbundle/admin-tools/admin-forms/css/admin-forms.min.css') }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ asset('assetbundle/img/favicon.ico') }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  {% block css %}{% endblock %}

</head>

<body class="{% block body_class %}dashboard-page{% endblock %}">
  <!-- Start: Main -->
  <div id="main">

    <!-- Start: Header -->
    <header class="navbar navbar-fixed-top navbar-shadow bg-system">
      <div class="navbar-branding bg-system">
        <a class="navbar-brand" href="dashboard.html">
          <b>{{ user.nickname | default('Anonymity') }}</b>
        </a>
        <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
      </div>
      <form class="navbar-form navbar-left navbar-search alt" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="navbar-btn btn-group">
                <a href="#" class="topbar-menu-toggle btn btn-sm" data-toggle="button">
                    <span class="ad ad-wand"></span>
                </a>
            </div>
        </li>
        <li class="dropdown menu-merge">
          <div class="navbar-btn btn-group">
            <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
              <span class="fa fa-bell-o fs14 va-m"></span>
              <span class="badge badge-danger">9</span>
            </button>
            <div class="dropdown-menu dropdown-persist w350 animated animated-shorter fadeIn" role="menu">  
              <div class="panel mbn">
                  <div class="panel-menu">
                     <span class="panel-icon"><i class="fa fa-clock-o"></i></span>
                     <span class="panel-title fw600"> Recent Activity</span>
                     <button class="btn btn-default light btn-xs pull-right" type="button"><i class="fa fa-refresh"></i></button>
                  </div>
                  <div class="panel-body panel-scroller scroller-navbar scroller-overlay scroller-pn pn">
                      <ol class="timeline-list">
                        <li class="timeline-item">
                          <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Michael</b> Added to his store:
                            <a href="#">Ipod</a>
                          </div>
                          <div class="timeline-date">1:25am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Sara</b> Added his store:
                            <a href="#">Notebook</a>
                          </div>
                          <div class="timeline-date">3:05am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Admin</b> created invoice for:
                            <a href="#">Software</a>
                          </div>
                          <div class="timeline-date">4:15am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Admin</b> created invoice for:
                            <a href="#">Apple</a>
                          </div>
                          <div class="timeline-date">7:45am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Admin</b> created invoice for:
                            <a href="#">Software</a>
                          </div>
                          <div class="timeline-date">4:15am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Admin</b> created invoice for:
                            <a href="#">Apple</a>
                          </div>
                          <div class="timeline-date">7:45am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Michael</b> Added his store:
                            <a href="#">Ipod</a>
                          </div>
                          <div class="timeline-date">8:25am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-system">
                            <span class="fa fa-fire"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Admin</b> created invoice for:
                            <a href="#">Software</a>
                          </div>
                          <div class="timeline-date">4:15am</div>
                        </li>
                        <li class="timeline-item">
                          <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                          </div>
                          <div class="timeline-desc">
                            <b>Sara</b> Added to his store:
                            <a href="#">Notebook</a>
                          </div>
                          <div class="timeline-date">3:05am</div>
                        </li>
                      </ol>
       
                  </div>
                  <div class="panel-footer text-center p7">
                    <a href="#" class="link-unstyled"> View All </a>
                  </div>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown menu-merge">
          <div class="navbar-btn btn-group">
            <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
              <span class="ad ad-radio-tower fs14 va-m"></span>
              <span class="badge">5</span>
            </button>
            <div class="dropdown-menu dropdown-persist w375 animated animated-shorter fadeIn" role="menu">  
              <div class="panel mbn">
                  <div class="panel-menu">
                    <div class="btn-group btn-group-justified btn-group-nav" role="tablist">
                      <a href="#nav-tab1" data-toggle="tab" class="btn btn-default btn-sm active">Notifications</a>
                      <a href="#nav-tab2" data-toggle="tab" class="btn btn-default btn-sm br-l-n br-r-n">Messages</a>
                      <a href="#nav-tab3" data-toggle="tab" class="btn btn-default btn-sm">Activity</a>
                    </div>
                  </div>
                  <div class="panel-body panel-scroller scroller-navbar pn">
                    <div class="tab-content br-n pn">
                      <div id="nav-tab1" class="tab-pane alerts-widget active" role="tabpanel">
                        <div class="media">
                          <a class="media-left" href="#"> <span class="glyphicon glyphicon-user text-info"></span> </a>
                          <div class="media-body">
                            <h5 class="media-heading">New Registration
                              <small class="text-muted"></small>
                            </h5> Tyler Durden - 16 hours ago
                            
                          </div>
                          <div class="media-right">
                            <div class="media-response"> Approve?</div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-check text-success"></i>
                              </button>
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-remove"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-left" href="#"> <span class="glyphicon glyphicon-shopping-cart text-success"></span> </a>
                          <div class="media-body">
                            <h5 class="media-heading">New Order
                              <small class="text-muted"></small>
                            </h5> <a href="#">Apple Ipod</a> - 4 hours ago
                          </div>
                          <div class="media-right">
                            <div class="media-response"> Confirm?</div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-check text-success"></i>
                              </button>
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-print"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-left" href="#"> <span class="glyphicon glyphicon-comment text-system"></span> </a>
                          <div class="media-body">
                            <h5 class="media-heading">New Comment
                              <small class="text-muted"></small>
                            </h5> Mike - I loved your article!                            
                          </div>
                          <div class="media-right">
                            <div class="media-response text-right"> Moderate?</div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-pencil"></i>
                              </button>
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-check text-success"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-left" href="#"> <span class="glyphicon glyphicon-star text-warning"></span> </a>
                          <div class="media-body">
                            <h5 class="media-heading">New Review
                              <small class="text-muted"></small>
                            </h5> Sammy Hilton - 4 hours ago
                          </div>
                          <div class="media-right">
                            <div class="media-response"> Approve?</div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-check text-success"></i>
                              </button>
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-remove"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-left" href="#"> <span class="glyphicon glyphicon-user text-info"></span> </a>
                          <div class="media-body">
                            <h5 class="media-heading">New Registration
                              <small class="text-muted"></small>
                            </h5> Michael Sober - 7 hours ago
                          </div>
                          <div class="media-right">
                            <div class="media-response"> Approve?</div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-check text-success"></i>
                              </button>
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-remove"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-left" href="#"> <span class="glyphicon glyphicon-usd text-alert"></span> </a>
                          <div class="media-body">
                            <h5 class="media-heading">New Invoice
                              <small class="text-muted"></small>
                            </h5> <a href="#">Apple Ipod</a> - 4 hours ago
                            
                          </div>
                          <div class="media-right">
                            <div class="media-response single">#518358</div>
                          </div>
                        </div>
                        <div class="media">
                          <a class="media-left" href="#"> <span class="glyphicon glyphicon-shopping-cart text-success"></span> </a>
                          <div class="media-body">
                            <h5 class="media-heading">New Order
                              <small class="text-muted"></small>
                            </h5> <a href="#">Apple Ipod</a> - 4 hours ago
                          </div>
                          <div class="media-right">
                            <div class="media-response"> Confirm?</div>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-check text-success"></i>
                              </button>
                              <button type="button" class="btn btn-default btn-xs light">
                                <i class="fa fa-print"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="nav-tab2" class="tab-pane chat-widget" role="tabpanel">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" alt="64x64" src="{{ asset('assetbundle/img/avatars/3.jpg') }}">
                            </a>
                          </div>
                          <div class="media-body">
                            <span class="media-status online"></span>
                            <h5 class="media-heading">Courtney Faught
                              <small> - 12:30am</small>
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-body">
                            <span class="media-status offline"></span>
                            <h5 class="media-heading">Joe Gibbons
                              <small> - 12:30am</small>
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.
                          </div>
                          <div class="media-right">
                            <a href="#">
                              <img class="media-object" alt="64x64" src="{{ asset('assetbundle/img/avatars/1.jpg') }}">
                            </a>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" alt="64x64" src="{{ asset('assetbundle/img/avatars/2.jpg') }}">
                            </a>
                          </div>
                          <div class="media-body">
                            <span class="media-status online"></span>
                            <h5 class="media-heading">Courtney Faught
                              <small> - 12:30am</small>
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metuscommodo.
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-body">
                            <span class="media-status offline"></span>
                            <h5 class="media-heading">Joe Gibbons
                              <small> - 12:30am</small>
                            </h5> Cras sit amet nibh libero, in Nulla vel metus scelerisque antecommodo.
                          </div>
                          <div class="media-right">
                            <a href="#">
                              <img class="media-object" alt="64x64" src="{{ asset('assetbundle/img/avatars/1.jpg') }}">
                            </a>
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" alt="64x64" src="{{ asset('assetbundle/img/avatars/2.jpg') }}">
                            </a>
                          </div>
                          <div class="media-body">
                            <span class="media-status online"></span>
                            <h5 class="media-heading">Courtney Faught
                              <small> - 12:30am</small>
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque soltudino.
                          </div>
                        </div>
                        <div class="media">
                          <div class="media-body">
                            <span class="media-status offline"></span>
                            <h5 class="media-heading">Joe Gibbons
                              <small> - 12:30am</small>
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                          </div>
                          <div class="media-right">
                            <a href="#">
                              <img class="media-object" alt="64x64" src="{{ asset('assetbundle/img/avatars/1.jpg') }}">
                            </a>
                          </div>
                        </div>
                      </div>
                      <div id="nav-tab3" class="tab-pane scroller-nm" role="tabpanel">
                        <ul class="media-list" role="menu">
                          <li class="media">
                            <a class="media-left" href="#"> <img src="{{ asset('assetbundle/img/avatars/5.jpg') }}" class="mw40" alt="avatar"> </a>
                            <div class="media-body">
                              <h5 class="media-heading">Article
                                <small class="text-muted">- 08/16/22</small>
                              </h5> Last Updated 36 days ago by
                              <a class="text-system" href="#"> Max </a>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-left" href="#"> <img src="{{ asset('assetbundle/img/avatars/2.jpg') }}" class="mw40" alt="avatar"> </a>
                            <div class="media-body">
                              <h5 class="media-heading mv5">Article
                                <small> - 08/16/22</small>
                              </h5>
                              Last Updated 36 days ago by
                              <a class="text-system" href="#"> Max </a>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-left" href="#"> <img src="{{ asset('assetbundle/img/avatars/3.jpg') }}" class="mw40" alt="avatar"> </a>
                            <div class="media-body">
                              <h5 class="media-heading">Article
                                <small class="text-muted">- 08/16/22</small>
                              </h5> Last Updated 36 days ago by
                              <a class="text-system" href="#"> Max </a>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-left" href="#"> <img src="{{ asset('assetbundle/img/avatars/4.jpg') }}" class="mw40" alt="avatar"> </a>
                            <div class="media-body">
                              <h5 class="media-heading mv5">Article
                                <small class="text-muted">- 08/16/22</small>
                              </h5> Last Updated 36 days ago by
                              <a class="text-system" href="#"> Max </a>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-left" href="#"> <img src="{{ asset('assetbundle/img/avatars/5.jpg') }}" class="mw40" alt="avatar"> </a>
                            <div class="media-body">
                              <h5 class="media-heading">Article
                                <small class="text-muted">- 08/16/22</small>
                              </h5> Last Updated 36 days ago by
                              <a class="text-system" href="#"> Max </a>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-left" href="#"> <img src="{{ asset('assetbundle/img/avatars/2.jpg') }}" class="mw40" alt="avatar"> </a>
                            <div class="media-body">
                              <h5 class="media-heading mv5">Article
                                <small> - 08/16/22</small>
                              </h5>
                              Last Updated 36 days ago by
                              <a class="text-system" href="#"> Max </a>
                            </div>
                          </li>
                          <li class="media">
                            <a class="media-left" href="#"> <img src="{{ asset('assetbundle/img/avatars/3.jpg') }}" class="mw40" alt="avatar"> </a>
                            <div class="media-body">
                              <h5 class="media-heading">Article
                                <small class="text-muted">- 08/16/22</small>
                              </h5> Last Updated 36 days ago by
                              <a class="text-system" href="#"> Max </a>
                            </div>
                          </li>
                        </ul>
                        <table class="table table-striped hidden">
                        <thead>
                          <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <td>Sussy</td>
                            <td>Watcher</td>
                            <td>@thehawk</td>
                          </tr>
                          <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <td>Sussy</td>
                            <td>Watcher</td>
                            <td>@thehawk</td>
                          </tr>
                          <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <td>Sussy</td>
                            <td>Watcher</td>
                            <td>@thehawk</td>
                          </tr>
                          <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer text-center p7">
                    <a href="#" class="link-unstyled"> View All </a>
                  </div>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown menu-merge">
                    <div class="navbar-btn btn-group">
              <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                  <span class="flag-xs flag-us"></span>
              </button>
              <ul class="dropdown-menu pv5 animated animated-short flipInX" role="menu">
                <li>
                  <a href="javascript:void(0);">
                    <span class="flag-xs flag-in mr10"></span> Hindu </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <span class="flag-xs flag-tr mr10"></span> Turkish </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <span class="flag-xs flag-es mr10"></span> Spanish </a>
                </li>
              </ul>
            </div>
        </li>
        <li class="dropdown menu-merge">
          <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
            <img src="{{ asset('assetbundle/img/avatars/1.jpg') }}" alt="avatar" class="mw30 br64">
            <span class="hidden-xs pl15"> {{ user.nickname | default('Anonymity') }} </span>
            <span class="caret caret-tp hidden-xs"></span>
          </a>
          <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
            <li class="list-group-item">
              <a href="#" class="animated animated-short fadeInUp">
                <span class="fa fa-envelope"></span> Messages
                <span class="label label-warning">2</span>
              </a>
            </li>
              <li class="list-group-item">
                <a href="#" class="animated animated-short fadeInUp">
                  <span class="fa fa-user"></span> Friends
                  <span class="label label-warning">6</span>
                </a>
              </li>
              <li class="list-group-item">
                <a href="#" class="animated animated-short fadeInUp">
                  <span class="fa fa-bell"></span> Notifications </a>
              </li>
              <li class="list-group-item">
                <a href="{{ url('dash_logout') }}" class="animated animated-short fadeInUp">
                  <span class="fa fa-bell"></span> Logout </a>
              </li>
          </ul>
        </li>
      </ul>
    </header>
    <!-- End: Header -->

    <!-- Start: Sidebar -->
    <aside id="sidebar_left" class="nano nano-light affix">

      <!-- Start: Sidebar Left Content -->
      <div class="sidebar-left-content nano-content">

        <!-- Start: Sidebar Header -->
        <header class="sidebar-header">

          <!-- Sidebar Widget - Author -->
          <div class="sidebar-widget author-widget">
            <div class="media">
              <a class="media-left" href="#">
                <img src="{{ asset('assetbundle/img/avatars/3.jpg') }}" class="img-responsive">
              </a>
              <div class="media-body">
                <div class="media-links">
                   <a href="javascript:void(0);" class="media-author" style="color: #fff; font-weight: bold; font-size: 14px;">{{ user.nickname | default('Anonymity') }} -</a> <a href="{{ url('dash_logout') }}">注销登陆</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Sidebar Widget - Search (hidden) -->
          <div class="sidebar-widget search-widget hidden">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
              <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
            </div>
          </div>

        </header>
        <!-- End: Sidebar Header -->

        <!-- Start: Sidebar Menu -->

        <!-- End: Sidebar Menu -->
      </div>
      <!-- End: Sidebar Left Content -->

    </aside>
    <!-- End: Sidebar Left -->

    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

      <!-- Start: Topbar-Dropdown -->
      <div id="topbar-dropmenu" class="alt">
        <div class="topbar-menu row">
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="metro-tile bg-primary light">
              <span class="glyphicon glyphicon-inbox text-muted"></span>
              <span class="metro-title">Messages</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="metro-tile bg-info light">
              <span class="glyphicon glyphicon-user text-muted"></span>
              <span class="metro-title">Users</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="metro-tile bg-success light">
              <span class="glyphicon glyphicon-headphones text-muted"></span>
              <span class="metro-title">Support</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="metro-tile bg-system light">
              <span class="glyphicon glyphicon-facetime-video text-muted"></span>
              <span class="metro-title">Videos</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="metro-tile bg-warning light">
              <span class="fa fa-gears text-muted"></span>
              <span class="metro-title">Settings</span>
            </a>
          </div>
          <div class="col-xs-4 col-sm-2">
            <a href="#" class="metro-tile bg-alert light">
              <span class="glyphicon glyphicon-picture text-muted"></span>
              <span class="metro-title">Pictures</span>
            </a>
          </div>
        </div>
      </div>
      <!-- End: Topbar-Dropdown -->
      {% block topbar %}
      <!-- Start: Topbar -->
      <header id="topbar" class="alt">
        <div class="topbar-left">
          <ol class="breadcrumb">
            <li class="crumb-active">
              <a href="dashboard.html">Dashboard</a>
            </li>
            <li class="crumb-icon">
              <a href="dashboard.html">
                <span class="glyphicon glyphicon-home"></span>
              </a>
            </li>
            <li class="crumb-link">
              <a href="index.twig">Home</a>
            </li>
            <li class="crumb-trail">Dashboard</li>
          </ol>
        </div>
        {% endblock %}
        <div class="topbar-right">
          <!-- <div class="ib topbar-dropdown">
            <label for="topbar-multiple" class="control-label pr10 fs11 text-muted">Reporting Period</label>
            <select id="topbar-multiple" class="hidden">
              <optgroup label="Filter By:">
                <option value="1-1">Last 30 Days</option>
                <option value="1-2" selected="selected">Last 60 Days</option>
                <option value="1-3">Last Year</option>
              </optgroup>
            </select>
          </div> -->
          {#<div class="ml15 ib va-m" id="toggle_sidemenu_r">
            <a href="#" class="pl5">
              <i class="fa fa-sign-in fs22 text-primary"></i>
              <span class="badge badge-danger badge-hero">3</span>
            </a>
          </div>#}
        </div>
      </header>
      <!-- End: Topbar -->
      
      <!-- Begin: Content -->
      <section id="content" class="table-layout animated fadeIn">
        {% block content %}
        <!-- begin: .tray-center -->
        <div class="tray tray-center">      

          <!-- dashboard tiles -->
          <div class="row">
            <div class="col-sm-4 col-xl-3">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">1,426</h1>
                  <h6 class="text-system">NEW ORDERS</h6>
                </div>
                <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i> 3% INCREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xl-3">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">63,262</h1>
                  <h6 class="text-success">TOTAL SALES GROSS</h6>
                </div>
                <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i> 2.7% INCREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xl-3">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">248</h1>
                  <h6 class="text-warning">PENDING SHIPMENTS</h6>
                </div>
                <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5 text-success"></i> 1% INCREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xl-3 visible-xl">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">6,718</h1>
                  <h6 class="text-danger">UNIQUE VISITS</h6>
                </div>
                <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-down pr5 text-danger"></i> 6% DECREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row hidden">
            <div class="col-sm-4 col-xl-3">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">1,426</h1>
                  <h6 class="text-system">NEW ORDERS</h6>
                </div>
                <div class="panel-footer br-t p12 hidden">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i> 3% INCREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xl-3">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">63,262</h1>
                  <h6 class="text-success">TOTAL SALES GROSS</h6>
                </div>
                <div class="panel-footer br-t p12 hidden">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i> 2.7% INCREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xl-3">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">248</h1>
                  <h6 class="text-warning">PENDING SHIPMENTS</h6>
                </div>
                <div class="panel-footer br-t p12 hidden">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5 text-success"></i> 1% INCREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xl-3 visible-xl">
              <div class="panel panel-tile text-center br-a br-grey">
                <div class="panel-body">
                  <h1 class="fs30 mt5 mbn">6,718</h1>
                  <h6 class="text-danger">UNIQUE VISITS</h6>
                </div>
                <div class="panel-footer br-t p12 hidden">
                  <span class="fs11">
                    <i class="fa fa-arrow-down pr5 text-danger"></i> 6% DECREASE
                    <b>1W AGO</b>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Admin-panels -->
          <div class="admin-panels fade-onload">

            <div class="row">

              <!-- Three Pane Widget -->
              <div class="col-md-12 admin-grid">

                <!-- dashboard activity -->
                <div class="panel sort-disable" id="p01" data-panel-title="false">
                  <div class="panel-heading">
                    <span class="panel-title hidden-xs hidden"> Recent Activity</span>
                    <ul class="nav panel-tabs panel-tabs-left">
                      <!-- Demo Note: all hrefs set to #tab1_1 -->
                      <li class="active">
                        <a href="#tab1_1" data-toggle="tab"> User Activity</a>
                      </li>
                      <li>
                        <a href="#tab1_2" class="hidden-xs" data-toggle="tab"> Popular Items</a>
                      </li>
                      <li>
                        <a href="#tab1_3" data-toggle="tab"> Conversions</a>
                      </li>
                    </ul>
                  </div>
                  <div class="panel-body pn">

                    <div class="tab-content">
                      <div class="tab-pane active p15" id="tab1_1" role="tabpanel" >
                        <div class="row">

                                <!-- Chart Column -->
                                <div class="col-md-8 pln br-r mvn15">
                                  <h5 class="ml5 mt20 ph10 pb5 br-b fw600 hidden">Visitors
                                    <small class="pull-right fw600">13,253
                                      <span class="text-primary">(8,251 unique)</span>
                                    </small>
                                  </h5>
                                  <div id="ecommerce_chart1" style="height: 300px;"></div>
                                </div>

                                <!-- Multi Text Column -->
                                <div class="col-md-4">
                                  <h5 class="mt5 mbn ph10 pb5 br-b fw600">Top Referrals
                                    <small class="pull-right fw600 text-primary">View Report </small>
                                  </h5>
                                  <table class="table mbn tc-med-1 tc-bold-last tc-fs13-last">
                                    <thead>
                                      <tr class="hidden">
                                        <th>Source</th>
                                        <th>Count</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                          <i class="fa fa-circle text-warning fs8 pr15"></i>
                                          <span>www.google.com</span>
                                        </td>
                                        <td>1,926</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <i class="fa fa-circle text-warning fs8 pr15"></i>
                                          <span>www.yahoo.com</span>
                                        </td>
                                        <td>1,254</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <i class="fa fa-circle text-warning fs8 pr15"></i>
                                          <span>www.themeforest.com</span>
                                        </td>
                                        <td>783</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <h5 class="mt15 mbn ph10 pb5 br-b fw600">Top Search Terms
                                    <small class="pull-right fw600 text-primary">View Report </small>
                                  </h5>
                                  <table class="table mbn tc-med-1 tc-bold-last tc-fs13-last">
                                    <thead>
                                      <tr class="hidden">
                                        <th>Source</th>
                                        <th>Count</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                          <i class="fa fa-circle text-warning fs8 pr15"></i>
                                          <span>admin theme</span>
                                        </td>
                                        <td>988</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <i class="fa fa-circle text-warning fs8 pr15"></i>
                                          <span>admin dashboard</span>
                                        </td>
                                        <td>612</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <i class="fa fa-circle text-warning fs8 pr15"></i>
                                          <span>admin template</span>
                                        </td>
                                        <td>256</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                                <!-- Flag/Icon Column -->
                                <div class="col-md-4 hidden">
                                  <h5 class="mt5 ph10 pb5 br-b fw600">Traffic Sources
                                    <small class="pull-right fw600 text-primary">View Stats </small>
                                  </h5>
                                  <table class="table mbn">
                                    <thead>
                                      <tr class="hidden">
                                        <th>#</th>
                                        <th>First Name</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td class="va-m fw600 text-muted">
                                          <span class="flag-xs flag-us mr5 va-b"></span> United States</td>
                                        <td class="fs15 fw600 text-right">28%</td>
                                      </tr>
                                      <tr>
                                        <td class="va-m fw600 text-muted">
                                          <span class="flag-xs flag-tr mr5 va-b"></span> Turkey</td>
                                        <td class="fs15 fw600 text-right">25%</td>
                                      </tr>
                                      <tr>
                                        <td class="va-m fw600 text-muted">
                                          <span class="flag-xs flag-fr mr5 va-b"></span> France</td>
                                        <td class="fs15 fw600 text-right">22%</td>
                                      </tr>
                                      <tr>
                                        <td class="va-m fw600 text-muted">
                                          <span class="flag-xs flag-in mr5 va-b"></span> India</td>
                                        <td class="fs15 fw600 text-right">18%</td>
                                      </tr>
                                      <tr>
                                        <td class="va-m fw600 text-muted">
                                          <span class="flag-xs flag-es mr5 va-b"></span> Spain</td>
                                        <td class="fs15 fw600 text-right">15%</td>
                                      </tr>
                                      <tr>
                                        <td class="va-m fw600 text-muted">
                                          <span class="flag-xs flag-de mr5 va-b"></span> Germany</td>
                                        <td class="fs15 fw600 text-right">12%</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab1_2">
                        <div class="table-responsive">
                          <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                            <thead>
                              <tr class="bg-light">
                                <th class="">Image</th>
                                <th class="">Product Title</th>
                                <th class="">SKU</th>
                                <th class="">Price</th>
                                <th class="">Stock</th>
                                <th class="text-right">Status</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_1.jpg">
                                </td>
                                <td class="">Apple Ipod 4G - Silver</td>
                                <td class="">#21362</td>
                                <td class="">$215</td>
                                <td class="">1,400</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_2.jpg">
                                </td>
                                <td class="">Apple Smart Watch - 1G</td>
                                <td class="">#15262</td>
                                <td class="">$455</td>
                                <td class="">2,100</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_6.jpg">
                                </td>
                                <td class="">Apple Macbook 4th Gen - Silver</td>
                                <td class="">#66362</td>
                                <td class="">$1699</td>
                                <td class="">6,100</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="w100">
                                  <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_7.jpg">
                                </td>
                                <td class="">Apple Iphone 16GB - Silver</td>
                                <td class="">#51362</td>
                                <td class="">$1299</td>
                                <td class="">5,200</td>
                                <td class="text-right">
                                  <div class="btn-group text-right">
                                    <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                      <span class="caret ml5"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <a href="#">Edit</a>
                                      </li>
                                      <li>
                                        <a href="#">Delete</a>
                                      </li>
                                      <li>
                                        <a href="#">Archive</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li>
                                        <a href="#">Complete</a>
                                      </li>
                                      <li class="active">
                                        <a href="#">Pending</a>
                                      </li>
                                      <li>
                                        <a href="#">Canceled</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane " id="tab1_3">
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- end: .col-md-12.admin-grid -->

            </div>
            <!-- end: .row -->

            <div class="row">

            </div>
            <!-- end: .row -->

          </div>

        </div>
        <!-- end: .tray-center -->
        {% endblock %}
      </section>
      <!-- End: Content -->
      
      <!-- Begin: Page Footer -->
      <footer id="content-footer" class="affix">
        <div class="row">
          <div class="col-md-6">
            <span class="footer-legal">© 2015 </span>
          </div>
          <div class="col-md-6 text-right">
            
            <a href="#content" class="footer-return-top">
              <span class="fa fa-arrow-up"></span>
            </a>
          </div>
        </div>
      </footer>
      <!-- End: Page Footer -->

    </section>
    <!-- End: Content-Wrapper -->

    <!-- Start: Right Sidebar -->
    <aside id="sidebar_right" class="nano affix">

      <!-- Start: Sidebar Right Content -->
      <div class="sidebar-right-content nano-content">

        <div class="tab-block sidebar-block br-n">
          <ul class="nav nav-tabs tabs-border nav-justified hidden">
            <li class="active">
              <a href="#sidebar-right-tab1" data-toggle="tab">Tab 1</a>
            </li>
            <li>
              <a href="#sidebar-right-tab2" data-toggle="tab">Tab 2</a>
            </li>
            <li>
              <a href="#sidebar-right-tab3" data-toggle="tab">Tab 3</a>
            </li>
          </ul>
          <div class="tab-content br-n">
            <div id="sidebar-right-tab1" class="tab-pane active">

              <h5 class="title-divider text-muted mb20"> Server Statistics
                <span class="pull-right"> 2013
                  <i class="fa fa-caret-down ml5"></i>
                </span>
              </h5>
              <div class="progress mh5">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 44%">
                  <span class="fs11">DB Request</span>
                </div>
              </div>
              <div class="progress mh5">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 84%">
                  <span class="fs11 text-left">Server Load</span>
                </div>
              </div>
              <div class="progress mh5">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 61%">
                  <span class="fs11 text-left">Server Connections</span>
                </div>
              </div>

              <h5 class="title-divider text-muted mt30 mb10">Traffic Margins</h5>
              <div class="row">
                <div class="col-xs-5">
                  <h3 class="text-primary mn pl5">132</h3>
                </div>
                <div class="col-xs-7 text-right">
                  <h3 class="text-success-dark mn">
                    <i class="fa fa-caret-up"></i> 13.2% </h3>
                </div>
              </div>

              <h5 class="title-divider text-muted mt25 mb10">Database Request</h5>
              <div class="row">
                <div class="col-xs-5">
                  <h3 class="text-primary mn pl5">212</h3>
                </div>
                <div class="col-xs-7 text-right">
                  <h3 class="text-success-dark mn">
                    <i class="fa fa-caret-up"></i> 25.6% </h3>
                </div>
              </div>

              <h5 class="title-divider text-muted mt25 mb10">Server Response</h5>
              <div class="row">
                <div class="col-xs-5">
                  <h3 class="text-primary mn pl5">82.5</h3>
                </div>
                <div class="col-xs-7 text-right">
                  <h3 class="text-danger mn">
                    <i class="fa fa-caret-down"></i> 17.9% </h3>
                </div>
              </div>

              <h5 class="title-divider text-muted mt40 mb20"> Server Statistics
                <span class="pull-right text-primary fw600">USA</span>
              </h5>


            </div>
            <div id="sidebar-right-tab2" class="tab-pane"></div>
            <div id="sidebar-right-tab3" class="tab-pane"></div>
          </div>
          <!-- end: .tab-content -->
        </div>
      </div>
    </aside>
    <!-- End: Right Sidebar -->

  </div>
  <!-- End: Main -->
  <script src="{{ asset('assetbundle/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ asset('assetbundle/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>
  {% block plugins_js %}{% endblock %}
  <!-- plugins -->
  <script src="{{ asset('assetbundle/vendor/plugins/pnotify/pnotify.js') }}"></script>

  <!-- Theme Javascript -->
  <script src="{{ asset('assetbundle/js/utility/utility.js') }}"></script>
  <script src="{{ asset('assetbundle/js/demo/demo.js') }}"></script>
  <script src="{{ asset('assetbundle/js/main.js') }}"></script>
  {% block ready_js %}
  <!-- Dash ready -->
  <script type="text/javascript">
    jQuery(document).ready(function() {

      "use strict";

      // Init Theme Core
      Core.init();

      // Init Demo JS
      Demo.init();


      // Init Widget Demo JS
      // demoHighCharts.init();

      // Because we are using Admin Panels we use the OnFinish
      // callback to activate the demoWidgets. It's smoother if
      // we let the panels be moved and organized before
      // filling them with content from various plugins

      // Init plugins used on this page
      // HighCharts, JvectorMap, Admin Panels

      // Init Admin Panels on widgets inside the ".admin-panels" container
      $('.admin-panels').adminpanel({
        grid: '.admin-grid',
        draggable: true,
        preserveGrid: true,
        // mobile: true,
        onStart: function() {

        },
        onFinish: function() {
          $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');

          // Init the rest of the plugins now that the panels
          // have had a chance to be moved and organized.
          // It's less taxing to organize empty panels
          demoHighCharts.init();
        },
        onSave: function() {
          $(window).trigger('resize');
        }
      });
    });
  </script>
  {% endblock %}
  <!-- BEGIN: PAGE SCRIPTS -->
  {% block js %}
  {% endblock %}

  <!-- END: PAGE SCRIPTS -->
</body>
</html>
